/* color palette from <https://github.com/vuejs/theme> */
:root {
  --gray-border: #616161;
  --light-border: #dddddd;
  --text-black: #070707;
  --text-white: #eeeeee;
  --background: #03658b;
  --background-transparency: rgba(0, 16, 62, 0.7);
  --normal-color: #14a1d9;
  --light-color: #05c7f2;
  --dark-color: #0d6ba6;
  --normal-color-opposite-one: #a5d5b7;
  --normal-color-opposite-two: #2643df;
  --light-color-opposite-one: #d0ebda;
  --light-color-opposite-two: #7385e8;
  --dark-color-opposite-one: #499a67;
  --dark-color-opposite-two: #0a2098;
  --shadow: var(--dark-color-opposite-two);
  --border-radius-size: 8px;
}

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text);
}
