@import './base.css';

nav {
  background-color: var(--background);
}

#nav a.router-link-exact-active {
  color: var(--basic-select);
}

button {
  color: var(--text-white);
  font-weight: bold;
  background-color: var(--dark-color-opposite-two);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

form {
  width: 70%;
  min-width: 350px;
  margin: 0 auto;
  padding: 2%;
  border: 1px solid var(--gray-border);
  border-radius: 5px;
}

input,
select,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid var(--dark-color-opposite-one);
  border-radius: 3px;
}

label {
  display: block;
  width: 100%;
  min-width: 80px;
}

.title {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 4%;
  text-align: center;
  color: var(--dark-color-opposite-one);
}

/* Tables */
table {
  border: 1px solid var(--gray-border);
  border-spacing: 0px;
  width: 100%;
}
thead {
  background-color: var(--dark-color);
  width: 100%;
}
th {
  height: 30px;
  text-align: center;
  padding: 12px 15px;
  font-size: 110%;
  color: var(--text-white);
}

td {
  width: fit-content;
  text-align: left;
  padding: 2px 4px 2px 4px;
  font-size: 90%;
}

tbody tr:nth-child(odd) {
  background-color: var(--text-white);
}
tbody tr:nth-child(even) {
  background-color: var(--normal-color-opposite-one);
}
.item-detail-value {
  font-size: 75%;
}
.item-number-value {
  text-align: right;
}
.item-special-size {
  min-width: 85px;
}

.buttons-to-show button {
  margin: 5px;
}
.buttons-to-show {
  display: flex;
  justify-content: flex-end;
}

.button-less {
  background-color: var(--dark-color);
}
